################################################################################
#
# Resource file of custom package NrrdIO
#
################################################################################


dataFile -name    "Nrrd" \
         -option  "nrrd,nhdr" \
         -ext     ".nrrd,.nhdr" \
         -load    "NrrdReader" \
         -package "NrrdIO"


dataFile -name    "Nrrd binary" \
         -option  "nrrd" \
         -ext     ".nrrd" \
         -save    "NrrdWriterRaw" \
         -type    "HxUniformScalarField3" \
         -package "NrrdIO"

dataFile -name    "Nrrd gzip" \
         -option  "nrrd" \
         -ext     ".nrrd" \
         -save    "NrrdWriterGzip" \
         -type    "HxUniformScalarField3" \
         -package "NrrdIO"

dataFile -name    "Nrrd ascii" \
         -option  "nrrd" \
         -ext     ".nrrd" \
         -save    "NrrdWriterAscii" \
         -type    "HxUniformScalarField3" \
         -package "NrrdIO"
